*{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
} 

:root {
  font-size: 62.5%;
  --text-color: #122947;
  --header-style: "Raleway", sans-serif;

}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}


body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--text-color);
}

.heading {
  font-family: var(--header-style);
  font-weight: 500;
  font-size: 4.2rem;
}

.title {
  text-align: center;
  font-family: var(--header-style);
  font-weight: 600;
  font-size: 2.8rem;
}
.bestsellersh1{
  margin-bottom: 21px;
}


a {
  text-decoration: none; 
  color: #122947;
}


.active {
  font-weight: 400;
  font-size: 1.4rem;
  background-color: transparent; 
  border: 1px solid #B3BAC1;
  padding: 13px 28px 16px;
  text-align: center;
  display: inline-block;
} 
.activeb{
  font-size: 1.4rem;  
  border: 1px solid #B3BAC1;
  padding: 13px 28px 16px;
  background-color: transparent; 

  position: absolute;
  bottom: 90px;
  display: flex;

  
}
.div1{
  display: flex;
  margin-top: 51px;
  text-align: center;

}
.transporter {
  font-weight: 400;
  font-size: 1.2rem;
}
.bestsellers {
  font-weight: 400;
  font-size: 1.3rem;
}


.background1 {
  background-image: url("../img/background_1.png");
  margin-top: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 60px;
}

.background2 {
  background-image: url("../img/background_2.png");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-size: cover;

  position: relative;
}

.background3 {
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 50px;

  background-size: cover;
}

.background4 {
  background-image: url("../img/background_4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin-left: 15px;
  margin-right: 15px;
}

.backgroundfooter{
  background-image: url("../img/backgroundfooter.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.btn {
  border: none;
  background-color: transparent;
}

.wrapper {
  max-width: 100;
  margin: 0 auto;
  padding: 0 16px;
}

.menu{
  margin-left: 15px;
  margin-right: 81px;
  border: none;
  background-color: transparent;

}
.user{
  margin-left: 55px;
  margin-right: 20px;
  border: none;
  background-color: transparent;

}
.basket{
  margin-right: 15;
  border: none;
  background-color: transparent;
}
.top{
  display: flex;
  justify-content: space-around;
}
.MAROON{
  margin: 0px 0px 20px 0px;
}
.natur{
  display: inline-block;
  margin-bottom: 43px;
  text-align: center;
  width: 80%;
  line-height: 140%;
}
.centr{
  text-align: center;
}

.legendproduct{
  width: 80%;
  display: inline-block;
  margin-bottom: 50px;
  text-align: center;
  line-height: 22.4px;
}

.Highbackground{
  position: relative;
  text-align: center;
  display: inline-block;
  
  display: flex;
  justify-content: center;
  /* align-items: center; */

  margin-bottom: 40px;
}
.High1{

}
.kremdlylica{
  color: #9A9DA0;
  padding-top: 10px;
}
.podrobnee{
  padding-top: 15px;
  border-bottom: 1px #122947 solid;  
}
.zapolnyteanketu{
  margin-top: 15px;
  line-height: 22.4px;
  width: 80%;
  display: inline-block;
  margin-bottom: 20px;
}
.mistremimsy{
  font-size: 2.2rem;
  line-height: 27.5px;
  font-weight: 500;
  width: 75%;
  margin-top: 30px;
}
.prisoedknam{
  margin-bottom: 25px;
}
.podpishites{
  margin-bottom: 43px;
  text-align: center; 
  line-height: 22.4px;
}
.divHigh{
  position: absolute;
  bottom: 5px;
}


.div3{
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  
  top: 50px;
}
.div4{
  position: relative;
}
.div5{
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.podpisatsy{
  margin-bottom: 20px;
}

.contacts{
  font-weight: 600;
  line-height: 23.2px;
  margin-left: 35px;
  margin-bottom: 4px;
}
.contactstext{
  line-height: 23.2px;
  margin-left: 30px;
  margin-bottom: 10px;
}
.contactstitle{
  line-height: 35px;
  margin-left: 30px;
}

.ul1{
  display: flex;
  align-items: center;
  margin-left: 30px;
  /* justify-content: center; */

  margin-top: 15px;
  margin-bottom: 40px;
}
.li1{
  margin-right: 15px;
}

.ul2{
  display: flex;
  align-items: center;
  margin-left: 15px;
  /* justify-content: center; */

  margin-top: 15px;
  margin-bottom: 40px;
}

.ul3{
  margin-left: 15px;
  margin-top: 20px;
}
.ul4{
  display: inline-block;
  margin-right: 20px;
}
.li4{
  margin-bottom: 10px;
}

.end{
  color: #959595;
  display: flex;
  margin-left: 15px;
  margin-bottom: 5px;
}